html,
body {
  height: 100%;

  nav {
    background-color: lighten(blue, 20%);
  }

  iframe {
    height: 90vh;
    width: 100%;
  }

  .toast {
    height: fit-content;
    display: block;

    p {
      display: block;
    }
  }
}
